In [1]:
# August 6, 2021, 9:14pm
# load both places and reviews with "..._gps_box.json" for zip 98012 at 50 miles box
!ls data

delme.json
dir.txt
gPlusPlaceId_4_duplicates.json
gPlusPlaceId_4_gps_box.json
gPlusPlaceId_filter.json
places.clean.json
places.json
places_gps.json
places_gps_box.json
places_gps_no_dup_indexed.json
places_revs_count.json
places_sub.json
places_sub_gps.json
reviews.clean.json
reviews.json
reviews_gPlusPlaceId_index_no_duplicates.json
reviews_gps_box.json
reviews_sub.json
users.clean.json
users.json
users_sub.json

In [2]:
import beepy
beepy.beep(sound=1) # 1 : 'coin'
# beepy.beep(sound=5) # 5 : 'ready' too noisy
# beepy.beep(sound=4) # 4 : 'ping'

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
%%time
df_places = pd.read_json('data/places_gps_box.json')
beepy.beep(sound=1) # 1 : 'coin'
df_places.head() # expect to see 98012 neighborhood businesses

CPU times: user 310 ms, sys: 42 ms, total: 352 ms
Wall time: 1.2 s

,name,price,address,hours,phone,closed,gPlusPlaceId,Y_NS_latitudes,X_EW_longitudes,gPlusPlaceId_index
2007-02-10 14:28:17,Sumner's Topgun Muffler Brake,None,"[15608 Main St E, Sumner, WA 98390]",None,(253) 863-3011,False,1.171118e+20,47.202430,-122.221043,1171117697
2004-02-26 09:23:23,Walt's Auto Care Center,None,"[1702 SW Roxbury St, Seattle, WA 98106]","[[Monday, [['8:00 am--5:30 pm']]], [Tuesday, [...",(206) 764-0108,True,1.077787e+20,47.517611,-122.356875,1077787403
2002-07-15 04:57:31,Bishop's Alehouse,None,"[11848 98th Pl NE, Kirkland, WA 98034]","[[Monday, [['3:00 pm--2:00 am']]], [Tuesday, [...",(425) 629-3742,False,1.026709e+20,47.706644,-122.210230,1026709051
2006-10-02 16:41:47,Auburn Avenue Dental Clinic: Walia Jyotsana MD,None,"[130 3rd St NE, Auburn, WA 98002]",None,(253) 833-3680,True,1.159807e+20,47.310139,-122.227524,1159807307
2003-10-15 23:21:29,Community Bible Fellowship,None,"[11227 Renton Ave S, Seattle, WA 98178]",None,(206) 772-1620,False,1.066260e+20,47.502029,-122.250980,1066260089

In [4]:
%%time
df_reviews = pd.read_json('data/reviews_gps_box.json')
beepy.beep(sound=1) # 1 : 'coin'
df_reviews.head() # expect to see 98012 neighborhood businesses

CPU times: user 656 ms, sys: 128 ms, total: 784 ms
Wall time: 1.62 s

,rating,reviewerName,reviewText,categories,gPlusPlaceId,unixReviewTime,reviewTime,gPlusUserId,gPlusPlaceId_index
76,4,Chloe Ballard,None,"[Hotel, Conference Center, Meeting Room]",1.170880e+20,1.390078e+09,"Jan 18, 2014",1.000002e+20,1170880034
103,5,Alan Tower,Glazer's has been great for professional suppo...,"[Camera Store, Audio Visual Equipment...]",1.023986e+20,1.338242e+09,"May 28, 2012",1.000002e+20,1023986252
190,5,Stephen Huckle,I am a college student that is new to Auburn. ...,"[Bedding Store, Mattress Store, Bedroom Furnit...",1.115726e+20,1.349325e+09,"Oct 3, 2012",1.000003e+20,1115725738
339,3,Jon Bredensteiner (Willy),Terrible customer service,[Lawn Mower Store],1.029405e+20,1.371077e+09,"Jun 12, 2013",1.000006e+20,1029404950
340,5,Jon Bredensteiner (Willy),Best Bar in the Area,"[Bar & Grill, Irish Pub, Cocktail Bar]",1.069253e+20,1.391150e+09,"Jan 30, 2014",1.000006e+20,1069252621

In [7]:
df_places.shape, df_reviews.shape # ((23780, 10), (112747, 9))  112747/23780 = 4.74 reviews per business

((23780, 10), (112747, 9))

In [8]:
df_reviews.iloc[0]

rating                                                       4
reviewerName                                     Chloe Ballard
reviewText                                                None
categories            [Hotel, Conference Center, Meeting Room]
gPlusPlaceId                           117088003400000012288.0
unixReviewTime                                    1390077743.0
reviewTime                                        Jan 18, 2014
gPlusUserId                            100000155399999995904.0
gPlusPlaceId_index                                  1170880034
Name: 76, dtype: object